{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Form Submission</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Submit Your Information</h1>
        <form action="/result/" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label>Gender</label><br>
                <input type="radio" id="male" name="gender" value="male">
                <label for="male" class="radio-label">Male</label><br>
                <input type="radio" id="female" name="gender" value="female">
                <label for="female" class="radio-label">Female</label>
            </div>
            <div class="form-group">
                <label>Hobbies</label><br>
                <input type="checkbox" id="hobby1" name="hobbies" value="reading">
                <label for="hobby1" class="checkbox-label">Reading</label><br>
                <input type="checkbox" id="hobby2" name="hobbies" value="sports">
                <label for="hobby2" class="checkbox-label">Sports</label><br>
                <input type="checkbox" id="hobby3" name="hobbies" value="music">
                <label for="hobby3" class="checkbox-label">Music</label>
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>
